.camadaUm {
    width: 100vw;
    display: flex;
    padding-left: 1vw;
}

.camadaUm p {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.divCamadaDois {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
}

.divCamadaDoisStrong{
    width: 75%; 
}

.camadaDois{
    width: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.camadaDoisStrong{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1vw;
}

.camadaDois p {
    color: #000;
    text-align: right;
    font-family: "inter-regular";
    font-size: 24px;
    font-weight: 400;
}

.camadaDoisStrong p {
    color: #000;
    font-family: "archivoBlack";
    font-size: 96px;
    font-weight: 400;

}

.svg{
    height: 4vh;
    width: 100vw;
    display: flex;
    justify-content: end;

}