@font-face {
  font-family: "inika-regular";
  src: url('./fonts/Inika/Inika-Regular.ttf');
}

@font-face {
  font-family: "inika-bold";
  src: url('./fonts/Inika/Inika-Bold.ttf');
}

@font-face {
  font-family: "inter-regular";
  src: url('./fonts/Inter/Inter-Regular.ttf');
}

@font-face {
  font-family: "archivoBlack";
  src: url('./fonts/Archivo_Black/ArchivoBlack-Regular.ttf');
}

.App{
  display: flex;
  justify-content: center;
  flex-direction: column;

}

*{
  font-family: "inika-regular";
  box-sizing: border-box;
}

p{
  margin: 0;
}

.principal{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}